<footer>
    <a href="https://ajuntament.barcelona.cat/es/"><img id="logo_ayuntamiento_footer"
        src="imagenes/Ajuntament-de-Barcelona.jpg" alt="logo Ayuntamiento"></a>
     <nav class="politicas">
        <ul class="nav_politicas">
            <li>
                <a href="/">Aviso legal y privacidad</a>
            </li>

            <li>
                <a href="/">Politica de Cookies</a>
            </li>
        </ul>
    </nav>
</footer>