<!-- SINTAXIS HTML  -->
<!-- <nombre_etiqueta atributo="valor">CONTENIDO</nombre_etiqueta> -->
<!-- etiqueta que dice al navegador que es un doc. HTML -->
<!DOCTYPE html>
<!-- etiqueta contenedora de todos los elementos HTML -->
<html lang="es">
<!-- head: contiene los elementos de config. de la pag. web -->

<head>
    <!-- codifica los caracteres especiales -->
    <meta charset="UTF-8">
    <!-- compatibilidad con IE EDGE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- para que sea correcta la visualizacion en Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titulo de la pag web  -->
    <title>Usuario</title>
    <!-- link a css  -->
    <link rel="stylesheet" href="css/bicing_main.css">
    <link rel="stylesheet" href="css/register.css">
    <script type="module" src="js/bicing_datos_usuario.js"></script>
</head>

<body>
    <!-- CABECERA -->
    <!-- dentro de la etiqueta body, añadimos los elementos visuales de nuestra pag web -->
    <%- include('partials/header') %>
    <main>
        <form class="register">
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Kalam&family=M+PLUS+Rounded+1c:wght@300&family=Noto+Sans+Mono:wght@200&family=Raleway:wght@300&display=swap');
            </style>
            <h3>Rellena tus datos</h3>
            <label for="DNI">DNI:</label>
            <input type="text" id="DNI" placeholder="DNI" name="DNI">
            <label for="Nombre">Nombre:</label>
            <input type="text" id="Nombre" placeholder="Nombre" name="Nombre">
            <label for="Direccion">Dirección:</label>
            <input type="text" id="Direccion" placeholder="Direccion" name="Direccion">
            <label for="Telefono">Telefono:</label>
            <input type="tel" id="Telefono" placeholder="123-456-789" name="Telefono">
            <label for="F_nacimiento">Fecha Nacimiento:</label>
            <input type="date" id="F_nacimiento" placeholder="F_nacimiento" name="F_nacimiento">
            <input type="button" value="Darse de alta" id="regBTN">
        </form>
        <div id="insertarCAJA" style="color: red; font-weight: bold;"></div>
        
        
    </main>
    <%- include('partials/footer') %>
</body>

</html>